@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Concert+One&display=swap');
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  height: 90%;
  width: 100%;
  background: #fca368;
  display: grid;
  justify-items: center;
  align-items: center;
  font-family: 'Barrio', cursive;
  color:  #ffecc3;
  user-select: none; 
}
#heart{
  margin-left: -1rem;
}
.heart-path {
  stroke: none;
  fill: red;
}
div {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
}
h1 {
  padding: 0 0 3.7rem 0;
  width:60%;
  font-size: 3rem;
  text-align: center;
  position: absolute;
  display: grid;
  justify-items: center;
  align-items: center;
  color:currentColor;

}
button {
  display: block;
  margin: 0 auto;
	font-size: 1rem;
	padding: 1rem 2rem;
	border: 2px solid currentColor;
	background: transparent;
	border-radius: 50px;
	color: red;
	letter-spacing: 0.05rem;
}
button:hover {
	cursor: pointer;
}
button:active {
	transform: translate(0.1rem, 0.1rem);
}
